<div class="demo-nav">

  {{#link-to "demo.overview"}}Overview{{/link-to}} |
  {{#link-to "demo.scatter"}}Scatter plot{{/link-to}} |
  {{#link-to "demo.line"}}Line graph{{/link-to}} |
  {{#link-to "demo.bar"}}Bar graph{{/link-to}} |
  {{#link-to "demo.interaction"}}Interaction{{/link-to}} |
  {{#link-to "demo.dynamic-domains"}}Dynamic domains{{/link-to}} |
  {{#link-to "demo.reference"}}Reference Guide{{/link-to}}

</div>
