<div class='frost-viz-overview'>
  <h1>Hello Viz</h1>
  <p>
    <b>ciena-frost-viz</b> is a visualization library. A visualization is created by combining components and helpers in
    a specific way &mdash; connecting <em>scope producers</em> to <em>scope consumers</em> .
  </p>
  <p>
    It operates on arrays of data. Each element can be any JavaScript object. The chart designer provides dimensions and
    selectors to extract relevant values from each element.
  </p>
  <p>
    Alternately, the functioning combinations of scope producers and consumers can be considered a <em>grammar</em>,
    where the symbols of the grammar are extensible sets of components and helpers.
  </p>
  <p>
    You can provide your own compatible component to replace any part of the visualization library. If it's something
    that might benefit others, we'd be happy to bring it into the frost-viz core.
  </p>
</div>
